@import url(../../lib/font/lato/lato.css);
@import url(../../lib/font/Finger_Paint/FingerPaint-Regular.css);

/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * Copyright (C) 2015 Hakim El Hattab, http://hakim.se
 */
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
    color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
    background: #fff;
}

.reveal {
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: normal;
    color: #222;
}

::selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none;
}

.reveal .slides > section, .reveal .slides > section > section {
    line-height: 1.3;
    font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    margin: 0 0 20px 0;
    color: #222;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: normal;
    text-shadow: none;
    word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.6em;
    color: #003c7e;
}

.reveal h3 {
    font-size: 1.3em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}

.reveal h1.intro {
    font-family: 'FingerPaint', 'Lato', sans-serif;
    font-size: 4em;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

.reveal figcaption {
    font-style: italic;
    font-size: 0.7em;
    margin-top: 0.1em;
}

.reveal iframe {
    display: block;
    margin: 0 auto;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img, .reveal video, .reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal strong, .reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol, .reveal dl, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
    padding-left: 1.2em;
}

.reveal ul {
    list-style-type: disc;
    vertical-align: top;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul, .reveal ul ol, .reveal ol ol, .reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal ul li {
    vertical-align: text-top;
    background-size: 14px 21px;
    background-position: 0em 0.4em;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal q, .reveal blockquote {
    quotes: none;
}

.reveal blockquote {
    display: block;
    font-size: 1.5em;
    position: relative;
    width: 70%;
    margin: 20px auto;
    color: #fff;
    text-align: center;
    font-style: normal;
    box-shadow: none;
    background: #003c7e;
    padding: 1em 0.5em 1em 0.5em;
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
    display: inline-block;
}

.reveal q {
    font-style: italic;
}

.reveal iframe {
    display: block;

}

.reveal pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    /*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);*/
}

.reveal code {
    font-family: monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
    background: #5f5f5f;
    color: #f3f3f3;
    padding: 0.5em;
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th, .reveal table td {
    text-align: left;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-bottom: none;
}

.reveal table th[align="center"], .reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"], .reveal table td[align="right"] {
    text-align: right;
}

.reveal table tr:last-child td {
    border-bottom: none;
}

.reveal sup {
    vertical-align: super;
}

.reveal sub {
    vertical-align: sub;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LAST SLIDE
 *********************************************/
.goodbye {
    background: rgba(0, 60, 126, 0.8);
    width: 60%;
    display: block;
    color: #fff;
}

.goodbye p {
    padding-left: 1em;
    padding-bottom: 0.5em;
}

.goodbye h2 {
    padding-left: 0.5em;
    color: #fff;
    padding-top: 0.5em;
}

/*********************************************
 * Recruiting
 *********************************************/
.recruiting {
    background: rgba(0, 60, 126, 0.8);
    width: 80%;
    display: block;
    color: #fff;
}

.recruiting p {
    font-size: 0.5em;
    padding-left: 1em;
    padding-bottom: 0.2em;
    color: #fff;
}

.recruiting h2, .recruiting h3, .recruiting h5 {
    padding-left: 21px;
    color: #fff;
    padding-top: 0.21em;
}

.recruiting ul {
    padding-bottom: 1em;
    color: #fff;
    font-weight: lighter;
    font-size: smaller;
    padding-left: 1em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #0079ff;
    text-decoration: none;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
}

.reveal a:hover {
    color: #6ca2e8;
    text-shadow: none;
    border: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #1a54a1;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 8px 0px;
    border: none;
}

.reveal a img {
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #2a76dd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
    border-right-color: #003c7e;
}

.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
    border-left-color: #003c7e;
}

.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
    border-bottom-color: #003c7e;
}

.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
    border-top-color: #003c7e;
}

.reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #6ca2e8;
}

.reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #6ca2e8;
}

.reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #6ca2e8;
}

.reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #6ca2e8;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 60, 126, 1);
}

.reveal .progress span {
    background: #9ccd00;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
    color: #003c7e;
}
